body {
  font-family: sans-serif;
}

.button {
  background-color: rgb(32, 32, 196);
  color: #fff;
  padding: 0.5rem 2rem;
  border: .2em solid rgb(32, 32, 196);
  border-radius: 5rem;
  text-decoration: none;
  transition: .2s ease;
  font-weight: bold;
}

.button:hover {
    background-color: #fff;
    border-color: rgb(32, 32, 196);
    color: rgb(32, 32, 196);
}